$bright-mint:rgb(106, 237, 196);
$light-mint:#93F9B9;
$mid-mint:rgb(50, 185, 135);
$dark-mint:#1D976C;
$red:rgb(235, 42, 42);
$common-black:rgb(27, 27, 27);
$dark-black:rgba(0,0,0,0.8);
$blur-black:rgba(28, 28, 28, 0.9);
$common-white:#f0f0f0;
$common-gray:#3c3c3c;