.external{
    display:flex;
    justify-content:center;
    width:100%;
    min-height:100vh;
    overflow-x:hidden;    
    background:rgba(0,0,0,0.9); 
    position:fixed;
    top:0;
    left:0;
}

.board{
    width:80%;
    text-align:center;
    font-family:'Poppins', sans-serif;
    position:absolute;
    h1{
        margin:1rem;
    }
    img{
        width:100%;
        display:block;
    }
}

.container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    padding:1rem 1.5rem;
}

.left-section{
    flex-basis: 75%;
    img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

.right-section{
    flex-basis:25%;
    padding:2rem;
}

.up-content{
    h4{
        margin-top:0.5rem;
    }
}
.down-content{
    margin-top:1.5rem;
}

.rating{
    margin-top:2rem;
    div{
        display:flex;
        justify-content: space-between;
    }
}

.stores{
    cursor:pointer;
    display:flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.stores:hover{
    color:rgb(235, 42, 42);
}