header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem;

    h1{
        color:$bright-mint;
        cursor:pointer;
    }

    input{
        color:$common-black;
        padding:1.2rem 1rem;
        border-radius:0.5rem;
        outline:0;
        border:none;
        opacity:0.9;
    }
}