@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    color:inherit;
}

body{
    background: rgb(27, 27, 27);
    color:white;
    font-family: 'Raleway', sans-serif;
    
}

::-webkit-scrollbar{
    width:0.2rem;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(126, 237, 196);
}
::-webkit-scrollbar-track {
    background-color: #3c3c3c;
} 