@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    color:inherit;
}

body{
    background: rgb(27, 27, 27);
    color:white;
    font-family: 'Yeseva One', cursive
}

.app{
    /* padding:2rem; */
}

h2{
    margin:1.5rem 0;
}
::-webkit-scrollbar{
    width:0.2rem;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(152, 207, 187);
}
::-webkit-scrollbar-track {
    background-color: #3c3c3c;
} 